.guide-div {
    overflow: hidden;
}

.float-button {
    position: fixed;
    height: 30px;
    width: 100px;
    bottom: 20px;
    right: -moz-calc(100% - 95px);
    right: -webkit-calc(100% - 95px);
    right: calc(100% - 95px);
    background: #1e4191;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    color: #fff;
    border: 1px solid #ccc;
    transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -webkit-transition: opacity .3s linear;
    -o-transition: opacity .3s linear;
}