/*foot*/
.foot{position: fixed;bottom: 0;left: 50%;width: 100%;padding: 0 3%;background-color: #FFFFFF;-webkit-transform: translateX(-50%);transform: translateX(-50%);box-shadow: 0 -2px 6px 0 #E2EDF8;z-index: 999;}
.foot ul li{height: 49px;text-align: center;}
.foot ul li a{display: inline-block;width: 75px;height: 49px;}
.foot ul li.li-1 a{background: url(../../style/images/sy@2x.png)no-repeat center;background-size: 100%;}
.foot ul li.li-2 a{background: url(../../style/images/wk@2x.png)no-repeat center;background-size: 100%;}
.foot ul li.li-3 a{background: url(../../style/images/wz@2x.png)no-repeat center;background-size: 100%;}
.foot ul li.li-4 a{background: url(../../style/images/wd@2x.png)no-repeat center;background-size: 100%;}
.foot ul li.li-1.active a{background: url(../../style/images/sel-sy@2x.png)no-repeat center;background-size: 100%;}
.foot ul li.li-2.active a{background: url(../../style/images/sel-wk@2x.png)no-repeat center;background-size: 100%;}
.foot ul li.li-3.active a{background: url(../../style/images/sel-wz@2x.png)no-repeat center;background-size: 100%;}
.foot ul li.li-4.active a{background: url(../../style/images/sel-wd@2x.png)no-repeat center;background-size: 100%;}
