#video_div {
    height: 100%;
}

container {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

video {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #000;
}

video:focus,
video:active {
    outline: none;
}

chimee-progressbar {
    pointer-events: none;
    cursor: default;
}

chimee-state-play {
    display: none;
}

.test-btn {
    color: #ccc;
}

.am-btn {
    margin-bottom: 10px;
}

.tip-play {
    position: fixed;
    top: 125px;
    left: 0px;
    right: 0px; // bottom: 0px;
    margin: auto;

    cursor: pointer; // position: absolute;
    // top: 35%;
    // left: 40%;
    width: 180px;
    padding: 5px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    background: #FFCB04;
    color: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 1000;
}

.video-title {
    cursor: pointer;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    background: #000;
    color: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    opacity: 0.9;
    a {
        position: absolute; // opacity: 1;
        color: #fff;
        font-size: 12px;
        top: 50%;
        left: 37%;
    }
}

.opacity-black {
    width: 100%;
    height: 210px; // background-color: #000;
}

.opacity-black a {
    // transition: opacity .5s;
    opacity: 0.4;
}

.opacity-black a:hover {
    // opacity: 0.4;
}

.vjs-modal-dialog-content {
    display: none;
}
chimee-control-wrap{
    background-color:rgba(0, 129, 215, .9)  !important;
   
   
}
chimee-volume.chimee-flex-component.vertical{
    padding-right:0 !important;
}
chimee-volume.chimee-flex-component{
    margin-right:.3rem !important;
}
chimee-volume.vertical chimee-volume-bar{
    top: -6em !important;
}
chimee-volume.vertical chimee-volume-bar-wrap{
    heigth:5em;
}
chimee-volume.vertical chimee-volume-bar:before{
    height: 6em !important;
}