/* default */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-size:10px;height:100%;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0, 0, 0, 0)}
html,button,input,select,textarea{font-family:Arial, Simhei, "黑体", Microsoft Yahei, "微软雅黑", sans-serif;color:#515151}
body{margin:0;background-color: #F7F9FC}
a{color:#515151;outline:none !important}
a:link{text-decoration:none}
a:focus{outline:thin dotted}
a:active, a:hover{outline:0;text-decoration:none}
h1, h2, h3, h4, h5, h6{font-size:1em;margin:0}
b,strong{font-weight:bold}
p,pre{margin:0}
dl,menu,ol,ul,dd,dt,li{margin:0;padding:0}
nav ul,nav ol,ul,ol{list-style:none;list-style-image:none}
img{border:0;-ms-interpolation-mode:bicubic}
svg:not(:root){overflow:hidden}
figure{margin:0}
form{margin:0}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px}
button,input[type="text"],input[type="password"],input[type="number"],input[type="submit"],input[type="reset"],select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle;background:none;border:0;padding:0;border-radius:0;box-shadow:none}
button,input,areatext{line-height:normal;outline:none !important}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}
button[disabled],input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top}
table{border-collapse:collapse;border-spacing:0}
em{font-style:inherit}
hr{display:block;clear:both;zoom:1;height:0;line-height:0;border:0;padding:0;content:"";font-size:0}
/*::-webkit-scrollbar{display:none;width:0}*/

/* public style */
.clearFix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.clearFix{clear:both;zoom:1}
.floatL{display:inline;float:left}
.floatR{display:inline;float:right}

/*amazeui*/
.am-slider-default{margin: 0 0 10px}
.am-slider .am-slides img{height: 155px}
.am-slider-default .am-control-nav{bottom: 15px;}
.am-slider-default .am-control-nav li a{background-color: #0D253E}
.am-slider-default .am-control-nav li a.am-active{background-color: #FFFFFF;}

.am-panel{padding: 0 5px 10px;margin-bottom: 10px}
.am-panel-bd{padding: .4rem 1.25rem}

.am-titlebar{margin-top: 0 !important;}
.am-titlebar-default{border-bottom: none}
.am-titlebar-default .am-titlebar-title{font-weight: normal;color: #000000}
.am-titlebar-default .am-titlebar-nav a{color:#999999}

.am-gallery-default>li .am-gallery-item{border-radius: 5px;border: 1px solid #e9f3fe;overflow: hidden;}
.am-gallery-default>li .am-gallery-item .am-gallery-title{padding: 0 10px;font-size: 1.6rem}
.am-gallery-default>li .am-gallery-item .am-gallery-desc{margin-top: 10px;padding: 0 10px 10px;font-size: 1.4rem}
.am-gallery-default>li .am-gallery-item .am-gallery-desc i{margin-right: 5px}
.am-gallery-default .am-gallery-item img{height: 90px}

.am-article-title{font-size: 1.8rem;padding: 10px 0;text-overflow: ellipsis;overflow:hidden;white-space:nowrap;}
.am-article-lead{border: none;background-color: inherit;padding: 0;}
.am-article-bd img{height: 94px;margin-top: 10px}

/*tab*/
.am-tabs-default .am-tabs-nav{background-color: #FFFFFF}
.am-tabs-default .am-tabs-nav li{height: 44px}
.am-tabs-default .am-tabs-nav a{display: inline-block;color: #999999;font-size: 1.8rem}
.am-tabs-default .am-tabs-nav>.am-active a{background-color: #FFFFFF;color: #005496;border-bottom: 2px solid #FFCA05}
[data-am-widget=tabs]{margin: 10px 0 0 0}
.am-tabs-bd{margin-top: 10px;border: none;}
.am-tabs-bd .am-tab-panel{padding: 0}

/*侧栏*/
.am-offcanvas-bar{width: 100%;background: #F7F9FC;}
.am-offcanvas-bar:after{width: 0;}



/*header*/
.header{position: fixed;top: 0;left: 50%;width: 100%;height: 44px;z-index: 999;padding: 0 16px;line-height: 44px;background-color: #005496;color: #FFFFFF;-webkit-transform: translateX(-50%);transform: translateX(-50%);}
.header .header-left{position: absolute;display: block;top: 0;left: 16px;color: #FFFFFF;padding: 4px 0}
.header>h1{text-align: center;font-weight: normal;font-size: 1.8rem;padding: 0 7rem;text-overflow: ellipsis;overflow: hidden;white-space:nowrap;}

.header .logo{position: absolute;top: 8px;display: block;width: 96px;height: 28px;background: url(../images/logo.png) no-repeat center;background-size: 100%}
.header .search{position: absolute;top: 7px;left: 125px;width: 61.9%;height: 30px;padding: 0 5px;line-height: 30px;background-color: #FFFFFF;-webkit-border-radius: 5px;border-radius: 5px;}
.header .search i{float:left;margin-top: 6px;color: #C3C4C7;}
.header .search input{position: absolute;width: 89%;height: 100%;padding-left: 5px}

.header .header-right{float: right;}
.header .header-right a{color: #FFFFFF}
.header-1 .search{width: 53%}
.header-2 .search{left: 70px}

.header .user-name-share{padding-left: 30px}
.header .user-name-share img{float: left;width: 30px;height: 30px;margin: 7px 5px 0 0;-webkit-border-radius: 50%;border-radius: 50%;}
.header .user-name-share .fa-share-square-o{font-size: 2rem;margin-top: 12px;}

.warpper{padding: 44px 0 60px;}
.container{padding: 0 0 60px;}

/*login*/
.login-bg{position: fixed;top: 0;left: 0;background: url(../images/login_bg.jpg) no-repeat top center;background-size: 100%;width: 100%;height: 100%}
.login-box{position: relative;width: 85%;height: auto;margin: 0 auto;padding-top: 30%;}
.login-box h1{font-size: 2.4rem;font-weight: normal;}
.login-box h1,
.login-box h6{color: #FFFFFF;text-align: center;}
.login-box h6{margin-bottom: 30px}
.login-box p{margin-bottom: 20px}
.login-box .am-g label{width: 50%;float: left;color: #FFFFFF}
.login-box .am-g a{color: #FFFFFF;line-height: 43px}
.login-box p input{width: 100%;height: 40px;padding-left: 5px;background-color: rgba(255,255,255,.7)}
.login-box p input::-webkit-input-placeholder { color: #005496;}
.login-box p input:-moz-placeholder {color: #005496;}
.login-box p input::-moz-placeholder { color: #005496;}
.login-box p input:-ms-input-placeholder {color: #005496;}
.login-box .btn-login{display: block;width: 100%;height: 45px;font-size: 2rem;margin-top: 50px;background: #FFCA05;line-height: 45px;text-align: center;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.40);border-radius: 4px;}
.am-checkbox-inline.am-warning .am-ucheck-checkbox:checked+.am-ucheck-icons, .am-checkbox-inline.am-warning .am-ucheck-radio:checked+.am-ucheck-icons, .am-checkbox.am-warning .am-ucheck-checkbox:checked+.am-ucheck-icons, .am-checkbox.am-warning .am-ucheck-radio:checked+.am-ucheck-icons, .am-radio-inline.am-warning .am-ucheck-checkbox:checked+.am-ucheck-icons, .am-radio-inline.am-warning .am-ucheck-radio:checked+.am-ucheck-icons, .am-radio.am-warning .am-ucheck-checkbox:checked+.am-ucheck-icons, .am-radio.am-warning .am-ucheck-radio:checked+.am-ucheck-icons{color: #FFCA05}
.am-checkbox-inline.am-warning .am-ucheck-checkbox:hover:not(.am-nohover):not(:disabled)+.am-ucheck-icons, .am-checkbox-inline.am-warning .am-ucheck-radio:hover:not(.am-nohover):not(:disabled)+.am-ucheck-icons, .am-checkbox.am-warning .am-ucheck-checkbox:hover:not(.am-nohover):not(:disabled)+.am-ucheck-icons, .am-checkbox.am-warning .am-ucheck-radio:hover:not(.am-nohover):not(:disabled)+.am-ucheck-icons, .am-radio-inline.am-warning .am-ucheck-checkbox:hover:not(.am-nohover):not(:disabled)+.am-ucheck-icons, .am-radio-inline.am-warning .am-ucheck-radio:hover:not(.am-nohover):not(:disabled)+.am-ucheck-icons, .am-radio.am-warning .am-ucheck-checkbox:hover:not(.am-nohover):not(:disabled)+.am-ucheck-icons, .am-radio.am-warning .am-ucheck-radio:hover:not(.am-nohover):not(:disabled)+.am-ucheck-icons{color: #FFCA05}

.mod-psw p{position: relative}
.mod-psw p i.eye{position: absolute;right: 8%;top: 10px;color: #DEE6F4}
.mod-psw input{display: block;width: 90%;height: 40px;margin: 15px auto;padding-left: 5px;border: 1px solid #DEE6F4;border-radius: 4px;}
.mod-psw .submit-btn{margin-top: 40px}

/*index*/
.panel-in{padding: 10px;text-align: center;}
.panel-in ul li a{display: inline-block;width: 78px;height: 78px;}
.panel-in ul li.li-1 a{background: url(../images/panel-in-1.png)no-repeat center;background-size: 100%}
.panel-in ul li.li-2 a{background: url(../images/panel-in-2.png)no-repeat center;background-size: 100%}
.panel-in ul li.li-3 a{background: url(../images/panel-in-3.png)no-repeat center;background-size: 100%}
.panel-in ul li.li-4 a{background: url(../images/panel-in-4.png)no-repeat center;background-size: 100%}
.pepole-info img{display: block;float: left;width: 35px;height: 35px;margin-top: 2px}
.pepole-info p{padding-left: 40px}
.pepole-info .info{font-size: 1.4rem}
.pepole-info .info span{padding-right: 30px}
.pepole-info .time{font-size: 1.2rem;color: #999999}
.am-panel-bd .like{padding: 10px 0;font-size: 1.4rem;color: #999999;border-bottom: 1px solid #E9F3FE;}
.am-panel-bd .like span{padding-right: 20px;}
.am-panel-bd .like span i{margin-right: 5px}

/*wk*/
.cur-list{padding: 10px;}
.cur-list a img{display: block;position: absolute;width: 70px;height: 70px;-webkit-border-radius: 5px;border-radius: 5px;}
.cur-list .right{padding-left: 80px}
.cur-list .right p{font-size: 1.4rem;color: #999999}
.cur-list .right h2{height: 28px;text-overflow: ellipsis;overflow:hidden;white-space:nowrap;font-size: 1.8rem;font-weight: normal;}
.cur-list .like span{padding-right: 20px;}
.cur-list .like span i{margin-right: 5px;font-size: 1.2rem}

.video-box{position: relative;width: 100%;margin-bottom: 10px;background-color: #FFFFFF}
.video-box>span{position: absolute;top: 35%;left: 50%;color: #ffca05;font-size: 5rem;-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);}
.video-box>span:before{position: absolute;top: 30px;left: 15px;content:"";display:block;width: 25px;height: 25px;background-color: #FFFFFF;line-height:0;z-index: 1;}
.video-box>span i{position: relative;z-index: 2;}
.video-box .like{padding: 10px 16px;}
.video-box .like span{padding-right: 20px;color: #999999}
.video-box .like span i{margin-right: 5px;}
.video-box .like span.active i{color: #ffca05;}
.btn-border{width: 90%;margin: 0 auto;border: 1px solid #DEE6F4;background-color: #FFFFFF;color: #005496;border-radius: 5px;}

/*online-ans*/
.ans-tips{position: fixed;top: 43px;left: 0;width: 100%;padding: 0 16px;background-color: #005496;text-align: center;color: #FFF;z-index: 88;}
.ans-tips span{color: #FFCA05;padding: 0 5px}
.online-ans{margin-top: 35px;padding: 10px 16px;}
.online-ans .am-panel-bd{border-bottom: 1px solid #E9F3FE;margin-bottom: 20px;}
.online-ans .am-panel-bd label{margin-left: 20px}
.submit-btn{display: block;width: 90%;height:45px;color: #FFFFFF;font-size: 2rem;margin: 10px auto;background-color: #005496;box-shadow: 0 2px 5px 0 #E2EEFB;border-radius: 4px;}
/*fxq*/
.article-list{position: relative;width: 100%;padding: 10px 10px 0}
.article-list>img{position: absolute;width: 42px;height: 42px}
.article-list .cont{padding-left: 50px}
.article-list .cont .info{text-align: right;}
.article-list .cont .info span{float: left;}
.article-list .cont .jc-icon{display:block;float: left;width: 30px;height: 30px;margin-right: .5rem;background: url(../images/jcz@3x.png) no-repeat center;background-size: 100%;}
.article-list .like{padding: 5px 0;font-size: 1.4rem;color: #999999;}
.article-list .like span{padding-right: 20px;}
.article-list .like span i{margin-right: 5px}
.article-list .am-article-title{line-height: 30px}

.article-details{margin-top: 10px}
.article-details .pepole-info{padding: 10px;border-bottom: 1px solid #E9F3FE}
.article-details .pepole-info img{width: 42px;height: 42px}
.article-details .pepole-info p{padding-left: 50px;}
.article-details .pepole-info .info{font-size: 1.6rem;text-align: right;}
.article-details .pepole-info .info span{float: left;}
.article-details .pepole-info .time{font-size: 1.4rem}
.article-details .am-article-title{font-size: 2.4rem}
.article-details .am-article{padding: 0 20px}
.article-details .like{padding: 0 0 20px;font-size: 1.6rem;color: #999999;}
.article-details .like span{padding-right: 20px;}
.article-details .like span i{margin-right: 5px}
.article-details .like span.active i{color: #ffca05;}
.article-details .am-article-lead{font-size: 1.6rem;margin-bottom: 20px}

/*user*/
.user-header{position: relative;padding: 0 20px;background-color:#005496;color: #FFFFFF}
.user-header .tx-name{padding: 14px 0}
.user-header .tx-name img{float: left;width: 60px;height: 60px;}
.user-header .tx-name>p{padding-left: 70px;line-height: 30px}
.user-header .sign{position: absolute;right: 0;top: 20px;width: 46px;height: 30px;background-color: #FFFFFF;color: #005496;-webkit-border-top-left-radius: 15px;-webkit-border-bottom-left-radius: 15px;border-top-left-radius: 15px;border-bottom-left-radius: 15px;text-align: center;}
.user-header>p{font-size: 1.3rem;padding-bottom: 14px}
.list-in{margin-top: 10px}
.list-in li{height: 49px;border: none;overflow: hidden;}
.list-in li:after{position: absolute;bottom: 1px;left: 50px;content:"";display:block;width: 100%;height:1px;background-color: rgba(44,144,254,.1);line-height:0;}
.list-in li a{padding: 0 16px 0 50px;line-height: 49px}
.list-in li a .fa{font-size: 2.4rem;color: rgba(0,84,150,.3);margin-top: 10px}
.list-in li a .icon{display: block;position: absolute;top: 0;left: 0;width: 48px;height: 48px}
.list-in li a .icon-my-card{background: url(../images/icon-my-card.png) no-repeat center;background-size: 40%}
.list-in li a .icon-my-fxq{background: url(../images/icon-my-fxq.png) no-repeat center;background-size: 40%}
.list-in li a .icon-task{background: url(../images/icon-task.png) no-repeat center;background-size: 40%}
.list-in li a .icon-scj{background: url(../images/icon-scj.png) no-repeat center;background-size: 40%}
.list-in li a .icon-dt{background: url(../images/icon-dt.png) no-repeat center;background-size: 40%}
.list-in li a .icon-books{background: url(../images/icon-books.png) no-repeat center;background-size: 40%}
.list-in li a .icon-jfshop{background: url(../images/icon-jfshop.png) no-repeat center;background-size: 40%}
.list-in li a .icon-jfdetils{background: url(../images/icon-jfdetils.png) no-repeat center;background-size: 40%}
.list-in li a .icon-stroy{background: url(../images/icon-stroy.png) no-repeat center;background-size: 40%}
.list-in li a .icon-set-up{background: url(../images/icon-set-up.png) no-repeat center;background-size: 40%}

/*my-fxq*/
.am-tab-panel .like{border-bottom: none;padding: 0}
.am-tab-panel .evaluate{color: #E83344}
.am-panel-bd {position: relative}
.am-panel-bd .edit{position: absolute;right: 15px;top: 10px;font-size: 2rem}
.fxq-editRela input{width: 100%;height: 50px;padding-left: 5px;border-bottom: 1px dashed #DEDEDE}
.fxq-editRela textarea{width: 100%;height: 300px;resize: none;padding: 5px}
.rela{position: absolute;right: 16px;top: 0;color: #FFFFFF;}
.rela:link{color: #FFFFFF}

/**/
.goods-list{position: relative;padding: 10px 16px;;min-height: 175px}
.goods-list .goods-img{position: absolute;top: 10px;left: 16px;width: 110px;height: 154px;}
.goods-list .goods-img img {width: 100%;height: 100%}
.goods-list .goods-info{padding-left: 130px}
.goods-list .goods-info h3{max-height: 50px;overflow: hidden;margin-bottom: 15px}
.goods-list .goods-info p{font-size: 1.4rem}
.goods-list .goods-info p label{width: 80px;font-weight: normal;}
.goods-list .goods-info p span{color: #FF8E66}
.goods-list .goods-info p font{color: #69AAEB}
.goods-list .goods-info button{width: 50px;height: 35px;margin-top: 10px;border-radius: 5px;box-shadow: 0 2px 5px 0 rgba(114,194,255,0.60);}

.am-modal-dialog{-webkit-border-radius: 12px;border-radius: 12px;overflow: hidden;}
#my-confirm .am-modal-bd {font-size: 1.3rem;}
#my-confirm .am-modal-bd p{height: 25px;text-align: left;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;padding-left: 20%}

.msg-list{position: relative;padding: 10px 16px;}
.msg-list .read-sta{position: absolute;top: 15px;left: 16px}
.msg-list .read-sta .fa{font-size: 2rem}
.msg-list .read-sta .fa-envelope{color: #FFCA05;}
.msg-list .read-sta .fa-envelope-o{color: #999;}
.msg-list .msg-cont{padding-left: 35px;}
.msg-list .msg-cont .msg-title{font-size: 1.8rem;margin-bottom: 10px}
.msg-list .msg-cont .msg-info{font-size: 1.4rem;line-height: 25px;margin-bottom: 5px;color: rgba(37,55,70,.7)}
.msg-list .msg-cont>a{color: #005496}
.msg-list .msg-cont .time{color: rgba(37,55,70,.7);margin: 10px 0}


/*排行榜*/
.rank-list{position: relative;padding: 5px;}
.rank-list img{display: block;position: absolute;left: 10px;top:10px;width: 35px;height: 35px;-webkit-border-radius: 50%;border-radius: 50%;vertical-align: middle;}
.rank-list .rank-info{padding:0 50px }
.rank-list .rank-info span{font-size: 1.2rem}
.rank-list .rank-icon{position: absolute;top: 10px;right: 10px;width: 35px;height: 40px;line-height: 35px;color: #FFFFFF;text-align: center;background: url(../images/rank-bg.png) no-repeat center;background-size: 80%;}
.rank-list .rank-icon-1{background: url(../images/hz-01@3x.png) no-repeat center;background-size: 100%;}
.rank-list .rank-icon-2{background: url(../images/hz-02@3x.png) no-repeat center;background-size: 100%;}
.rank-list .rank-icon-3{background: url(../images/hz-03@3x.png) no-repeat center;background-size: 100%;}

/*积分*/
.user-jf{background-color: #005496;color: #FFFFFF;padding: 10px 16px 10px 0;}
.user-jf .user-tx-name{float: left;width: 30%;text-align: center;}
.user-jf .user-tx-name p{width: 80%;height: 25px;margin: 10px auto 0;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.user-jf .user-tx-name img{display: inline-block;width: 50px;height: 50px;-webkit-border-radius: 50%;border-radius: 50%;}
.user-jf .user-jf-details{float: left;width: 70%;}
.user-jf .user-jf-details>p{font-size: 1.8rem;padding-left: 10px;margin-bottom: 10px}
.user-jf .user-jf-details .progress{width: 100%;height: 6px;background-color: #034070;margin-bottom: 15px}
.user-jf .user-jf-details .progress-bar{position: relative;height: 100%;background-color: #FFCA05}
.user-jf .user-jf-details .progress-bar:after{content: '';position: absolute;display: block;top: 0;right: 0;width: 6px;height: 6px;border-radius: 3px;box-shadow: 1px 0 5px 2px #FFCA05;}
.datepicker{padding: 10px 16px 0;color: #999999}
.btn-query{display: block;width: 90%;height:45px;color: #005496;font-size: 2rem;margin: 10px auto;border: 1px solid #E2EEFB;box-shadow: 0 2px 5px 0 #E2EEFB;border-radius: 4px;}
.jf-list {position: relative;padding: 10px 16px;}
.jf-list .jf-tag{position: absolute;top: 0;right: 0;width: 50px;height: 35px;line-height: 35px;color: #FFFFFF;text-align: center;background: #69AAEB;box-shadow: 0 2px 5px 0 #A6D3FF;border-radius: 100px 0 0 100px;}
.jf-list .time{color: rgba(37,55,70,.7);margin-bottom: 10px }


/*foot*/
.foot{position: fixed;bottom: 0;left: 50%;width: 100%;padding: 0 3%;background-color: #FFFFFF;-webkit-transform: translateX(-50%);transform: translateX(-50%);box-shadow: 0 -2px 6px 0 #E2EDF8;z-index: 999;}
.foot ul li{height: 49px;text-align: center;}
.foot ul li a{display: inline-block;width: 75px;height: 49px;}
.foot ul li.li-1 a{background: url(../images/sy@2x.png)no-repeat center;background-size: 100%;}
.foot ul li.li-2 a{background: url(../images/wk@2x.png)no-repeat center;background-size: 100%;}
.foot ul li.li-3 a{background: url(../images/wz@2x.png)no-repeat center;background-size: 100%;}
.foot ul li.li-4 a{background: url(../images/wd@2x.png)no-repeat center;background-size: 100%;}
.foot ul li.li-1.active a{background: url(../images/sel-sy@2x.png)no-repeat center;background-size: 100%;}
.foot ul li.li-2.active a{background: url(../images/sel-wk@2x.png)no-repeat center;background-size: 100%;}
.foot ul li.li-3.active a{background: url(../images/sel-wz@2x.png)no-repeat center;background-size: 100%;}
.foot ul li.li-4.active a{background: url(../images/sel-wd@2x.png)no-repeat center;background-size: 100%;}


@media screen and (max-width: 320px) {
	.am-article-bd img{height: 71px;}
	.am-gallery-default .am-gallery-item img{height: 80px}
	.header .search {width: 57%;}
	.header.header-1 .search{width: 46%}
	.panel-in ul li a{display: inline-block;width: 65px;height: 65px;}
}

@media only screen and (min-width: 768px){
	.am-gallery-default .am-gallery-item img{height: 170px}
	.panel-in ul li a{width: 12.8rem;height: 12.8rem}
	.am-slider .am-slides img{height: 27rem}
}



















