@import url('./slider.less');

/*index*/
.panel-in{padding: 10px;text-align: center;}
.panel-in ul li a{display: inline-block;width: 78px;height: 78px;}
.panel-in ul li.li-1 a{background: url(../../style/images/panel-in-1.png)no-repeat center;background-size: 100%}
.panel-in ul li.li-2 a{background: url(../../style/images/panel-in-2.png)no-repeat center;background-size: 100%}
.panel-in ul li.li-3 a{background: url(../../style/images/panel-in-3.png)no-repeat center;background-size: 100%}
.panel-in ul li.li-4 a{background: url(../../style/images/panel-in-4.png)no-repeat center;background-size: 100%}
.pepole-info img{display: block;float: left;width: 35px;height: 35px;margin-top: 2px}
.pepole-info p{padding-left: 40px}
.pepole-info .info{font-size: 1.4rem}
.pepole-info .info span{padding-right: 30px}
.pepole-info .time{font-size: 1.2rem;color: #999999}
.am-panel-bd .like{padding: 10px 0;font-size: 1.4rem;color: #999999;border-bottom: 1px solid #E9F3FE;}
.am-panel-bd .like span{padding-right: 20px;}
.am-panel-bd .like span i{margin-right: 5px}



