/*wk*/
.cur-list{padding: 10px;}
.cur-list a img{display: block;position: absolute;width: 70px;height: 70px;-webkit-border-radius: 5px;border-radius: 5px;}
.cur-list .right{padding-left: 80px}
.cur-list .right p{font-size: 1.4rem;color: #999999}
.cur-list .right h2{height: 28px;text-overflow: ellipsis;overflow:hidden;white-space:nowrap;font-size: 1.8rem;font-weight: normal;}
.cur-list .like span{padding-right: 20px;}
.cur-list .like span i{margin-right: 5px;font-size: 1.2rem}

.video-box{position: relative;width: 100%;margin-bottom: 10px;background-color: #FFFFFF}
.video-box>span{position: absolute;top: 35%;left: 50%;color: #ffca05;font-size: 5rem;-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);}
.video-box>span:before{position: absolute;top: 30px;left: 15px;content:"";display:block;width: 25px;height: 25px;background-color: #FFFFFF;line-height:0;z-index: 1;}
.video-box>span i{position: relative;z-index: 2;}
.video-box .like{padding: 10px 16px;}
.video-box .like span{padding-right: 20px;color: #999999}
.video-box .like span i{margin-right: 5px;}
.video-box .like span.active i{color: #ffca05;}
.btn-border{width: 90%;margin: 0 auto;border: 1px solid #DEE6F4;background-color: #FFFFFF;color: #005496;border-radius: 5px;}