/*wk*/
.cur-list {padding: 0 10px;}
.cur-list li{padding: 0 8px;margin-bottom: 20px}
.cur-list a {position: relative;display: block;width: 100%;height: 90px;background-color: #FFFFFF}
.cur-list a img{display: block;width: 100%;height: 100%;-webkit-border-radius: 5px 5px 0 0;border-radius: 5px 5px 0 0;}
.cur-list a .time{position: absolute;bottom: 0;left: 0;width: 100%;text-align: right;padding: 0 10px;color: rgba(255,255,255,.7);background: url(../../style/images/txt-bg.png) repeat-x center;font-size: 1.2rem}
.cur-list .cur-list-info{width: 100%;background-color: #FFFFFF;padding: 8px 5px}
.cur-list .cur-list-info p{font-size: 1.4rem;color: #999999}
.cur-list .cur-list-info h2{height: 28px;text-overflow: ellipsis;overflow:hidden;white-space:nowrap;font-size: 1.8rem;font-weight: normal;}
.cur-list .like span{padding-right: 20px;}
.cur-list .like span i{margin-right: 5px;font-size: 1.2rem}
.cur-list .like span.active i{margin-right: 5px;font-size: 1.2rem;color:#ffca05}
.video-box{position: relative;width: 100%;margin-bottom: 10px;background-color: #FFFFFF}
.video-box>span{position: absolute;top: 35%;left: 50%;color: #ffca05;font-size: 5rem;-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);}
.video-box>span:before{position: absolute;top: 30px;left: 15px;content:"";display:block;width: 25px;height: 25px;background-color: #FFFFFF;line-height:0;z-index: 1;}
.video-box>span i{position: relative;z-index: 2;}
.video-box .like{padding: 10px 16px;}
.video-box .like span{padding-right: 20px;color: #999999}
.video-box .like span i{margin-right: 5px;}
.video-box .like span.active i{color: #ffca05;}
.btn-border{width: 90%;margin: 0 auto;border: 1px solid #DEE6F4;background-color: #FFFFFF;color: #005496;border-radius: 5px;}

.course-item{
	margin-top: 10px;
}
.cur-list{
	margin-bottom: 0px;
}
.am-gallery-item .active {color: #ffca05;}

// .am-gallery-desc{
// 	display: inline-block;
// 	width: 30%;
// }